<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your City's Weather</title>
  </head>
  <body>

    <h1> <%= cityname %> </h1>
    
    <h3> <%= weatherDes %> </h3>
  </body>
</html>
